Exercise 1: Create a Jupyter Notebook

Exercise 2: Create markdown cell with title of notebook

# Data Science Tools And Ecosystem

Exercise 3: Create a markdown cell for an introduction

Data Science Tools and Ecosystem are summarized

Exercise 10: Insert a markdowncell to list Objectives

**Objectives:**
+ Data Exploration
+ Mode Development and Deployment
+ collaboration sharing
+ Data Visualisation
+ Automation
+ Scalability and performance

Exercise 4: Create a markdown cell to list data science languages

Some of the popular languages that data scientists use are
:
1. Python
2. R
3. SQL

Exercise 5: Create a markdown cell to list data science libraries

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. Matplotlib
4. Scikit-learn

Exrcise 6: Create a markdown cell with a table of Data Science tools

| Data Science Tools |
|--------------------
| Jupytet Notebook |
| VS  Code |
| Spyder |

Exercise 7: Create a markdown cell introducing arithmetic expression examples

### Below are a few example of evaluating arithmetic expressions in Python.

Exercise 8: Create a code cell to multiply and add numbers

In [10]:
# This is a simple arithmetic expression to multiply the add integers

In [13]:
(3*4)+5

17

Exercise 9: Create a code cell to convert minutes to hours

In [14]:
# This will convert 200 minutes to hours 200/60

In [15]:
200/60

3.3333333333333335

Exercise 11: create a markdown cell to indicate the Auhtor's name

## Author
Ugwuoke Shedrack chinonso